<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>商品名</th>
            <th>商品コード</th>
            <th>数量</th>
            <th>原価</th>
            <th>在庫金額</th>
            <th>消費期限</th>
        </tr>
    </thead>
        <tbody>
            <% @orders.each do |order| %>
          <tr>
            <td><%#= link_to order.order_items.name, item_path(item.id) %></td>
            <td><%= order.order_user.name %></td>
            <td><%#= order_item.item.amount %></td>
            <td><%#= order_item.item.price %></td>
            <%# @subtotal = order_item.item.price * order_item.item.amount %>
            <td><%#= @subtotal %></td>
            <td><%#= order_item.item.until %></td>
            <td><%#= attachment_image_tag @item, :image %></td>

          </tr>
          <% end %>
        </tbody>
</table>